<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5347198504-1g2jgrr8h2or0n7494mgenqi15305fd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5347198504-1g2jgrr8h2or0n7494mgenqi15305fd9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5347198504-8nsftf8dlrmfhuhu68aqh4boj0olruuv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtN7volYsQjnFNWiEICqMPaxJ_w45N7Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>5347198504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elShaddai</string>
	<key>PROJECT_ID</key>
	<string>el-shadd</string>
	<key>STORAGE_BUCKET</key>
	<string>el-shadd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5347198504:ios:7ceba25fb22fb03429571d</string>
</dict>
</plist>